.header_icon{
    width: 3rem;
    padding: 2rem;
}
.header{
    margin-left: 1rem;
    margin-right: 1rem;
}
.header_link{
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
}
.white:hover{
    color: red;
}
.link{
    text-decoration: none;
}
.imbd-icon{
    padding: 0 0.4rem 0 0.4rem;
    border: 2px solid yellow;
    border-radius: 0.25rem;
}
.search-btn{
    color: yellow;
    border-color: yellow;
    border: 2px yellow solid;
}
.profile{
    position: absolute;
    right: 1rem;
    top: .8rem;
}
.fa-user{
    /* position: absolute; */
    /* right: 1.5rem; */
    height: 2.2rem;
    width: 2.2rem;
    font-size: 2rem;
    color: black;
    background-color: white ;
    border: 2px solid grey;
    border-radius: 50%;
    padding-left: 0.3rem;
    padding-bottom: 0.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;

}
.search-movie{
    margin: auto;
}